#
# Client
#
Client/ScreenShots
Client/*.iobj
Client/*.exp
Client/*.ipdb
Client/*.pdb
Client/*.map
Client/*.ilk
Client/*.log
Client/*.idb

#
# Server
#
Server/*/*LOG*/
Server/*/*.iobj
Server/*/*.ipdb
Server/*/*.pdb
Server/*/*.map
Server/*/*.ilk
Server/*/*.exe

#
# Source
#
Source/*/.vs
Source/*/Release
Source/*/Debug
Source/*/ReleaseCS
Source/*/DebugCS
Source/*/enc_temp_folder
Source/*/*/Release
Source/*/*/Debug
Source/*/*/ReleaseCS
Source/*/*/DebugCS
Source/*/*/enc_temp_folder